:root {
    --primary: #CD853F; 
    --segundary: #FFDEAD;
    --terciary: #693917bd;
    --text-color: #693917;
    --text-segundary: #fff;
    --text-terciary: #f8c08e;
}

* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
}

#contanier {
    background: linear-gradient(rgba(34, 33, 33, 0.411), rgba(34, 33, 33, 0.411)),
    url("../img/brownie_ninho.png");
    background-position: center;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: start;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

#contanier h2,
.destaque {
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 1rem;
}

#contanier .description {
    /* font-size: 1.2rem; */
    text-transform: uppercase;
    max-width: 360px;
    /* font-weight: bold; */
    margin-bottom: 1rem;
}

.paragrafo {
    color: var(--text-segundary);
    margin-bottom: 1rem;
}

.destaque {
    font-size: 1rem;
    font-weight: bold; 
    margin-bottom: 1rem;
}

/* form-subscription */
#form-subscription {
    background-color: var(--terciary);
    padding: 2rem;
    max-width: 22%;
}

#form-subscription p {
    font-size: 1.5rem;
    color: var(--text-terciary);
    margin-bottom: 1rem;
}

#form-subscription .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
}

.form-group label {
    color: var(--primary);
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.form-group input {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 6px 8px;
}

.btn {
    font-size: 15px;
    background-color: var(--primary);
    color: var(--segundary);
    text-transform: uppercase;
    width: 100%;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.8;
    transition: 0.3s;
}

.btn:hover {
    opacity: 1;
}

/* products section */
#main-products h2 {
    color: var(--text-segundary);
    background-color: var(--terciary);
    text-align: center;
    padding: 2rem;
    font-weight: 500;
}

.products {
    display: flex;
    justify-content: space-around;
    padding: 4rem;
    width: 80%;
    margin: 0 auto;
}

.product {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color: var(--text-color);
}

.product .product-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
}

#product-1 {
    background-image: url("../img/brownie_ninho.png");
    transition: 0.3s;
    cursor: pointer;
}

#product-1:hover {
    transform: scale(1.1 , 1.1);
}

#product-2 {
    background-image: url("../img/browniebrigadeiro.jpg");
    transition: 0.3s;
    cursor: pointer;
}

#product-2:hover {
    transform: scale(1.1 , 1.1);
}

#product-3 {
    background-image: url("../img/brownieGM.jpg");
    transition: 0.3s;
    cursor: pointer;
}

#product-3:hover {
    transform: scale(1.1 , 1.1);
}